.container {
  background-color: rgb(246, 241, 241);
  height: 100vh;
}

.logo {
  width: 120px;
}

.navigation-bar {
  display: flex;
  background-color: black;
}

.navigation-item {
  padding: 20px;
  color: white;
}
